


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-fluid">
    <div class="row">
        @*<div class="six columns">
            <div class="form-group">
                <label for="txtFirstName">First Name : </label>
                <input id="txtFirstName" type="text" class="form-control" />
            </div>
        </div>
        <div class="six columns">
            <div class="form-group">
                <label for="txtLastName">First Name : </label>
                <input id="txtLastName" type="text" class="form-control" />
            </div>
        </div>*@
        <div class="col-6">
            <div class="form-group">
                <label>First Name : </label>
               
                <input  type="text" class="form-control" />
                <h1>Test</h1>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>First Name : </label>
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="three columns">
            <div class="form-group">
                <label for="">First Name : </label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="three columns">
            <div class="form-group">
                <label>First Name : </label>
                <input type="text" class="form-control" />
                <h1>Test</h1>
            </div>
        </div>
        <div class="three columns">
            <div class="form-group">
                <label for="">First Name : </label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="three columns">
            <div class="form-group">
                <label>First Name : </label>
                <input type="text" class="form-control" />
                <h1>Test</h1>
            </div>
        </div>
    </div>
   
</div>